:root {
  --primary-color: #ffffff;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --secondary-color: #212121;
  --text-color-light: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color-light);
  background-color: var(--primary-color);
}

/* removing dots and underlines*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* hiding titles*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*---------- general section titles style---------*/
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color)
}

/* ----------------general logo----------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: var(--primary-color);
}

/*-----------general buttons styles----------------*/
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

.btn {
    cursor:pointer;
    font-family: inherit;
}

/* --------------header---------------*/
.header {
  background-color: var(--primary-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-menu {
  color: var(---secondary-color);
}

.header-contacts {
  color: var(--text-color-light)
}

.header-contacts-email {
  color: var(--text-color-light);
}

.menu-link.current {
  color: var(--accent-color);
}

/*----------------- hero ------------*/
.hero {
  background-color: var(--dark-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-color);
}

/*-------------specifity-------------*/
.specifity {
  background-color: var(--primary-color)
}

.specificity-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.specificity-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*----------------what we do-------------------*/
.what-we-do {
    background-color: var(--primary-color);
}

/*------------------team*----------------------*/
.team {
  background-color: var(--light-background-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*--------------footer-------------*/
.footer {
  background-color: var(--dark-background-color);
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-text {
  color: var(--primary-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/*---------------portfolio-----------------*/
.portfolio {
  background-color: var(--primary-color);
}
.portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
